{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": ["error", {"argsIgnorePattern": "[event]"}],
    "new-cap": ["error", {"capIsNewExceptions": ["Immutable"]}],
    "object-curly-spacing": ["error", "never"],
    "react-native/no-unused-styles": ["error"],
    "react-native/split-platform-components": ["error"]
  },
  "globals": {
    "expect": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".android.js",
          ".ios.js"
        ]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  }
}
